@import "./variables.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $dark-blue;
}

div [tabindex] {
  height: 100%;
  width: 100%;
  background: $dark-blue;
}

@media only screen and (min-width: 1310px) {
  .App {
    flex-direction: row;
  }
  .main {
    width: 100%;
    margin-left: 260px;
  }
}
