@import "../../variables.scss";

footer {
  background: $beige;
  width: 100%;
  height: 100px;
  box-shadow: $shadow;
}

@media only screen and (min-width: 768px) {
  footer {
    height: 160px;
  }
}
