@import "../../variables.scss";

%tiles {
  padding: 1rem 0;
  display: grid;
  grid-gap: 56px;
  margin: 0 auto;
  margin-top: 60px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  width: 300px;
  text-align: center;
}

.container {
  width: 100%;
  h2 {
    margin-top: 4rem;
    text-align: center;
    color: white;
  }
  .tilesLarge {
    @extend %tiles;
  }

  .tilesSmall {
    @extend %tiles;
    padding-bottom: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    .tilesLarge {
      width: 600px;
      grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
    }

    .tilesSmall {
      // width: 100%;
      min-width: 660px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    }
  }
}

@media only screen and (min-width: 1310px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: left;
      width: 100%;
      max-width: 1344px;
    }
  }
}

@media only screen and (min-width: 1450px) {
  .container {
    .tilesLarge {
      width: 100%;
      max-width: 1344px;
      grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
    }

    .tilesSmall {
      width: 100%;
      min-width: 650px;
      max-width: 1344px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    }
  }
}
